<div class="h-full mt-10 bg-slate-700 w-screen p-8">
  <div class="grid w-full grid-flow-col">
    <div class="text-white flex flex-col place-items-end mr-10">
      <div class="font-bold">Visit Brudge</div>
      <div>PO Box 744</div>
      <div>B-8000 Brudge</div>
      <br />
      <div>Tel. +34-3246423</div>
      <div>Fax +32-50523342</div>
      <br />
      <div>
        <a href="ritik2245@gmail.com">ritik2245@gmail.com</a>
      </div>
    </div>

    <div class="text-white flex flex-col place-items-end" >
        <div class="font-bold">Tourist Information</div>
        <div>dummy-address-1</div>
        <div>dummy-address-2</div>
        <div>dummy-address-3</div>
        <div>dummy-address-4</div>
        <div>dummy-address-5</div>

    </div>
    <div class="text-white flex flex-col place-items-end mr-20">
        <div class="font-bold">Information office</div>
        <div>address-no-1</div>
        <div>address-no-2</div>
        <div>address-no-3</div>
        <div>address-no-4</div>
        <div>address-no-5</div>

    </div>
  </div>
  <div class="text-center">

      This website uses cookies . by Using this website you comment to place cookies. 
    </div>
</div>
